<!--Inicio del footer-->
<footer class="footerAcerca">
  <div class="row contenidoFooter fuenteFooter">
    <div class="col-md-6">
      <h2 class="appname"><img src="../../assets/img/logo2.png" class="imgFooter">AlmApp</h2>
      <b class="fuenteTituloFooter">Contacto con el programador</b><br>
      <b class="fuenteFooter">Cel. </b> 3411061114<br>
      <b class="fuenteFooter">E-mail. </b> Alexismeva0011@gmail.com
    </div>
    <div class="col-md-6" style="align-self: center; text-align: right">
        © 2020 Derechos resetvados<a href="https://www.tamazula.tecmm.edu.mx/" class="font-weight-bold ml-1 fuenteFooter">Tecnologico Mario Molina Pasquel y Heriquez</a>
    </div>
  </div>
</footer>
<!--Fin del footer-->