  <div class="backgroundOjos">
    <div class="main-content">
      <!-- Navbar -->
      <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark paddingNavbar">
        <div class="container px-4">
          <a class="navbar-brand" href="/acerca de">
            <img src="../../assets/img/logo2withnamewhite2.png"/>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <!-- Collapse header -->
            <!-- Navbar items -->
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item dropdown">
                <a class="nav-link nav-link-icon btn botonMy" href="/acerca de">Inicio</a>
              </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link-icon btn botonMy" href="/register">Registrarse
                  </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Header -->
      <div class="header backgroundCabello py-7 py-lg-8">
        <div class="container">
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6">
                <img src="../../assets/img/namewhite.png" class="imgSizeContent">
                <p class="text-lead text-light styleText">Dejamos el Alma para servirle</p>
              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default backgroundOjos" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </div>
      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <img src="../../assets/img/logo2withname.png" class="imgSizeCard">
                </div>
                <form role="form">
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Nombre de usuario" type="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" placeholder="Contraseña" type="password">
                    </div>
                  </div>
                  <div class="text-center">
                    <a href="/dashboardUser/" class="btn bottonStyle my-4">Iniciar sesion</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="py-5">
        <div class="container">
          <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-12">
              <div class="copyright text-center text-muted">
                <a href="/acerca de" class="font-weight-bold ml-1" target="_blank"><img src="../../assets/img/logo2withname.png" class="imgFooter"></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>