<!--
  <footer class="footerAcerca row">
    <div class="col-lg-8 alignfooter">
      <h6><i class="fa fa-institution"></i>AlmApp</h6>
      ©2020 Derechos reservados. <a href="https://www.tamazula.tecmm.edu.mx/">Tecnologico Mario Molina Pasquel y Heriquez Campus Tamazula</a> 
    </div>
    <div class="col-lg-4">
          <div class="infoContacto"><b>Contacto del programador</b><br></div>
          
          <p><b>Cel. </b> 3411061114<br><b>E-mail. </b> Alexismeva0011@gmail.com
          </p>
    </div>
  </footer>-->
    <!--Inicio de Navbar-->
    <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark paddingNavbar">
      <div class="container">
          <a class="navbar-brand" href="/acerca de"><img src="../../assets/img/logo2withnamewhite2.png" class="imgFooter"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-default">
              <div class="navbar-collapse-header">
                  <div class="row">
                      <div class="col-6 collapse-close">
                          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                              <span></span>
                              <span></span>
                          </button>
                      </div>
                  </div>
              </div>
              
              <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link nav-link-icon btn botonMy" href="/login"> Iniciar sesion</a>
                </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link nav-link-icon btn botonMy" href="/register">Registrarse
                    </a>
                  </li>
              </ul>
              
          </div>
      </div>
  </nav>
    <!--Fin de Navbar-->
<div class="container-fluid fondoContenido">
  <!--Inicio de contenido-->
  <div class="row">
    <div class="col-md-12">
      <div class="text-center text-center">
        <h2><b>Descripcion</b></h2>
        <p class="descripcion">La creacion de AlmApp es originada por la necesidad de organizacion y digitalizacion de
          datos, ya
          que por cuestion del COVID-19 se ha tenido que buscar otros medios para que nuestros clientes puedan adquirir
          sus productos, sin tener que acudir directamente a nuestras sucursales. Consiste en un sitio web en el cuales
          nuestros
          usuarios debera registrarse y seleccionar sus productos, esta aplicacion esta desarrollada con Angular y con
          una
          base de datos MySQL.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="col-middle">
        <div class="text-center text-center">
          <h2><b>Nombre completo</b></h2>
          <p class="descripcion">Alexis Eduardo Mendez Valencia
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-middle">
        <div class="text-center text-center">
          <h2><b>Numero de control</b></h2>
          <p class="descripcion">19011010-9
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-middle">
        <div class="text-center text-center">
          <h2><b>Version del sistema</b></h2>
          <p class="descripcion">Version 1.0.0
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center text-center">
      <h2><b>Herramientas utilizadas</b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 alignTools">
      <a href="https://mx100.hostgator.mx:2083/">
        <img src="../../assets/img/cpanel-logo.svg" class="sizeimg">
      </a>
    </div>
    <div class="col-md-3 alignTools">
      <a href="https://angular.io/cli">
        <img src="../../assets/img/angular.png" class="sizeimg">
      </a>
    </div>
    <div class="col-md-3 alignTools">
      <a href="https://www.creative-tim.com/">
        <img src="../../assets/img/creative.png" class="sizeimg">
      </a>
    </div>
    <div class="col-md-3 alignTools">
      <a href="https://code.visualstudio.com/">
        <img src="../../assets/img/visualsc.png" class="sizeimg">
      </a>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center text-center">
      <h2><b>Grupos de desarrollo</b></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 alignTools">
      <a href="https://www.tamazula.tecmm.edu.mx/">
      <img src="../../assets/img/tecmmdorado.png" class="sizeimgGrupo">
    </a>  
    </div>
    <div class="col-md-6 alignTools">
      <a href="https://www.tamazula.tecmm.edu.mx/">
        <img src="../../assets/img/tics.png" class="sizeimgGrupo">
      </a>
    </div>
  </div>
  <!--Fin de contenido-->
</div>
<!--Inicio del footer-->
<footer class="footerAcerca">
  <div class="row contenidoFooter fuenteFooter">
    <div class="col-md-6">
      <h2 class="appname"><img src="../../assets/img/logo2withname.png" class="imgFooter"></h2>
      <b class="fuenteTituloFooter">Contacto con el programador</b><br>
      <b class="fuenteFooter">Cel. </b> 3411061114<br>
      <b class="fuenteFooter">E-mail. </b> Alexismeva0011@gmail.com
    </div>
    <div class="col-md-6" style="align-self: center; text-align: right">
        © 2020 Derechos resetvados<a href="https://www.tamazula.tecmm.edu.mx/" class="font-weight-bold ml-1 fuenteFooter">Tecnologico Mario Molina Pasquel y Heriquez</a>
    </div>
  </div>
</footer>
<!--Fin del footer-->